/*Fonts*/

@font-face {
    font-family: 'Myriad Pro Light';
    src: url(../../../font/MyriadPro-Light.otf);
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(../../../font/MyriadPro-Regular.otf);
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url(../../../font/MyriadPro-Semibold.otf);
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url(../../../font/MyriadPro-Bold.otf);
}

body::-webkit-scrollbar {
    width: 0.3vw;
    background-color: #00000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff6f2c;
    border-radius: 10vw;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

/*Header container*/

.header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 4.4vw;
    background-color: #ffffff;
}

.header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4.4vw;
    border-bottom: 1px solid #a0a0a0;
}

/*Button information texts: "Añadir" / "Refrescar" / "Eliminar" / "Reportar" / "Ayuda"*/

.header .header__container .header__infotext {
    margin-left: 0.5vw;
    color: #000000;
    font-size: 1.2vw;
    font-family: 'Myriad Pro Semibold', sans-serif;
}

/*Add button: next to "Añadir"*/

.header .header__container .header__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 11vw;
    text-decoration: none;
    animation: --fadeIn 1s ease 0.1s both;
}

.header .header__container .header__add .header__add--parentcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    overflow: visible;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__add .header__add--parentcontainer .header__add--childcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    animation: --shakeBack 0.2s ease-in-out both;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__add .header__add--parentcontainer .header__add--childcontainer .header__add--btn {
    width: 2vw;
    height: 2vw;
    background: url(../../../img/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: --zoomOut 0.2s ease both;
}

.header .header__container .header__add .header__add--parentcontainer .header__add--childcontainer .header__add--btn:hover {
    animation: --zoomIn 0.2s ease both;
}

.header .header__container .header__add .header__add--parentcontainer .header__add--childcontainer:hover {
    animation: --shake 0.000001s ease-in-out both;
    width: 2.5vw;
    height: 2.5vw;
}

.header .header__container .header__add .header__add--parentcontainer:hover {
    height: 2.5vw;
}

/*Reload button: next to "Refrescar"*/

.header .header__container .header__reload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    animation: --fadeIn 1s ease 0.1s both;
}

.header .header__container .header__reload .header__reload--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.7666vw;
    height: 1.7666vw;
    overflow: visible;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__reload .header__reload--container .header__reload--btn {
    width: 1.7666vw;
    height: 1.7666vw;
    background: url(../../../img/reload.svg);
    background-size: contain;
    background-repeat: no-repeat;
    animation: --rotateBack 0.2s ease both;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__reload .header__reload--container:hover > .header__reload--btn {
    animation: --rotate 0.2s ease both;
    width: 2.2666vw;
    height: 2.2666vw;
}

.header .header__container .header__reload .header__reload--container:hover {
    height: 2.2666vw;
}

/*Delete button: next to "Eliminar"*/

.header .header__container .header__delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    animation: --fadeIn 1s ease 0.1s both;
}

.header .header__container .header__delete .header__delete--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.5666vw;
    height: 1.9999vw;
    animation: --shakeBack 0.2s ease-in-out both;
    overflow: visible;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__delete .header__delete--container .header__delete--btntop {
    margin: 0;
    background: url(../../../img/trash.svg);
    width: 1.5666vw;
    height: 0.4333vw;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    animation: --close 0.2s ease both;
    transition-property: all;
    transition-duration: 0.5s;    
}

.header .header__container .header__delete .header__delete--container .header__delete--btncontainer {
    margin: 0;
    background: url(../../../img/trash.svg);
    width: 1.5666vw;
    height: 1.5666vw;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__delete .header__delete--container:hover > .header__delete--btntop {
    animation: --open 0.2s ease both;
    width: 2.0666vw;
    height: 0.5716vw;
}

.header .header__container .header__delete .header__delete--container:hover {
    animation: --shake 0.000001s ease-in-out both;
    height: 2.6382vw;
}

.header .header__container .header__delete .header__delete--container:hover > .header__delete--btncontainer {
    width: 2.0666vw;
    height: 2.0666vw;
}

/*Logo button*/

.header .header__container .header__home {
    margin: auto 6vw auto 0;
}

.header .header__container .header__home .header__home--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.313vw;
    height: 2.313vw;
    animation: --fadeIn 1s ease 0.1s both;
    overflow: visible;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__home .header__home--container .header__home--btn {
    width: 2.313vw;
    height: 2.313vw;
    animation: --turnBack 0.2s ease both;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__home .header__home--container:hover > .header__home--btn {
    animation: --turn 0.2s ease both;
    width: 2.813vw;
    height: 2.813vw;
}

.header .header__container .header__home .header__home--container:hover {
    height: 2.813vw;
}

/*Report button: next to "Reportar"*/

.header .header__container .header__report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    animation: --fadeIn 1s ease 0.1s both;
}

.header .header__container .header__report .header__report--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -0.0666vw;
    width: 1.72vw;
    height: 2vw;
    animation: --shakeBack 0.2s ease-in-out both;
    overflow: visible;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__report .header__report--container .header__report--btnL {
    width: 0.26vw;
    height: 2vw;
    margin: 0;
    background: url(../../../img/bug.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    animation: --walkBackwards 0.2s ease-in-out both;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__report .header__report--container .header__delete--btnbody {
    width: 1.2vw;
    height: 2vw;
    margin: 0;
    background: url(../../../img/bug.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__report .header__report--container .header__delete--btnR {
    width: 0.26vw;
    height: 2vw;
    margin: 0;
    background: url(../../../img/bug.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    animation: --walkForwards 0.2s ease-in-out both;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__report .header__report--container:hover > .header__report--btnL {
    animation: --walkForwards 0.4s ease-in-out infinite both;
    width: 0.3vw;
    height: 2.5814vw;
}

.header .header__container .header__report .header__report--container:hover > .header__delete--btnR {
    animation: --walkBackwards 0.4s ease-in-out infinite both;
    width: 0.3vw;
    height: 2.5814vw;
}

.header .header__container .header__report .header__report--container:hover > .header__delete--btnbody {
    width: 1.5488vw;
    height: 2.5814vw;
}

.header .header__container .header__report .header__report--container:hover {
    animation: --shake 0.4s ease-in-out infinite both;
    margin: -0.31vw;
    width: 2.22vw;
    height: 2.5814vw;

}

/*Help button: next to "Ayuda"*/

.header .header__container .header__help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    animation: --fadeIn 1s ease 0.1s both;
    cursor: help;
}

.header .header__container .header__help .header__help--parentcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    animation: --shakeBack 0.2s ease-in-out both;
    overflow: visible;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__help .header__help--parentcontainer .header__help--childcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    animation: --shakeBack 0.2s ease-in-out both;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
}

.header .header__container .header__help .header__help--parentcontainer .header__help--childcontainer .header__help--btn {
    width: 2vw;
    height: 2vw;
    background: url(../../../img/question.svg);
    background-color: #ff6f2c30;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: --zoomOut 0.2s ease both;
    transition-property: all;
    transition-duration: 0.2s;
}

.header .header__container .header__help .header__help--parentcontainer .header__help--childcontainer .header__help--btn:hover {
    animation: --zoomIn 0.2s ease both;
    background-color: #ffffff;
}

.header .header__container .header__help .header__help--parentcontainer .header__help--childcontainer:hover {
    animation: --shake 0.000001s ease-in-out both;
    width: 2.5vw;
    height: 2.5vw;
}

.header .header__container .header__help .header__help--parentcontainer:hover {
    height: 2.5vw;
}

/*Side options container: nut symbol / bell symbol / profile photo*/

.header .header__container .header__sideoptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3vw;
    width: 10vw;
}

/*Settings: nut symbol*/

.header .header__container .header__sideoptions .header__sideoptions--settings {
    width: 1.2vw;
    height: 1.2vw;
    background: url(../../../img/nut.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: --rotateBack 0.2s ease both;
    cursor: pointer;
}

.header .header__container .header__sideoptions .header__sideoptions--settings:hover {
    animation: --rotate 0.2s ease both;
}

/*Notifications: bell symbol*/

.header .header__container .header__sideoptions .header__sideoptions--notifications {
    width: 1.2vw;
    height: 1.2vw;
    background: url(../../../img/bell.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: --shakeBack 0.2s ease-in-out both;
    cursor: pointer;
}

.header .header__container .header__sideoptions .header__sideoptions--notifications:hover {
    animation: --shake 0.2s ease-in-out infinite both;
}

/*Profile options: profile photo*/

.header .header__container .header__sideoptions .header__sideoptions--profilecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 3.7vw;
    height: 3.7vw;
    border-radius: 100%;
    border: 0.2vw dashed #ff6f2c00;
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
}

.header .header__container .header__sideoptions .header__sideoptions--profilecontainer:hover {
    border: 0.2vw dotted #ff6f2c;
}

.header .header__container .header__sideoptions .header__sideoptions--profilecontainer a {
    width: 3vw;
    height: 3vw;
}

.header .header__container .header__sideoptions .header__sideoptions--profilecontainer a .header__sideoptions--profile {
    width: 3vw;
    height: 3vw;
}

.header--mobile {
    position: fixed;
    left: -56vw;
    display: none;
    margin: 0;
    width: 60vw;
    height: 100vh;
    transition-property: all;
    transition-duration: 1s;
    animation: --fadeIn 0.5s ease 1s both;
}

.header--mobile:hover {
    left: 0;
}

.header--mobile .header--mobile__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 4vw 10.5vw 0 0;
    width: 54vw;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #a0a0a0;

}

.header--mobile .header--mobile__container .header--mobile__menubtncontainer {
    position: absolute;
    right: -5%;
    width: 5.5vw;
    height: 100vh;
}

.header--mobile .header--mobile__container .header--mobile__menubtncontainer .header--mobile__menubtn {
    position: absolute;
    top: 50%;
    width: 5.5vw;
    height: 5.5vw;
    background: url(../../../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__link, 
.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__useroptstitle {
    display: flex;
    align-items: center;
    width: 40vw;
    height: 5vh;
    text-decoration: none;
}

.header--mobile .header--mobile__container .header--mobile__link .header--mobile__home--btn {
    background: url(../../../img/logo.svg);
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__link .header--mobile__add--btn {
    background: url(../../../img/plus.svg);
    background-size: contain;
    border-radius: 100%;
}

.header--mobile .header--mobile__container .header--mobile__link .header--mobile__reload--btn {
    background: url(../../../img/reload.svg);
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__link .header--mobile__delete--btn {
    background: url(../../../img/trash.svg);
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__link .header--mobile__report--btn {
    background: url(../../../img/bug.svg);
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__link .header--mobile__help--btn {
    background: url(../../../img/question.svg);
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__useropts {
    display: flex;
    flex-direction: column;
    margin: 33vh 0 0 6vw;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__useroptstitle {
    margin-bottom: 4vw;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__useroptstitle .header--mobile__profile--img {
    margin-right: 2vw;
    width: 10vw;
    height: 10vw;
    background: url(../../../img/profile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__useroptstitle .header--mobile__usertitle {
    color: #a0a0a0;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link {
    height: 3.5vh;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link .header--mobile__seeprofile--btn {
    background: url(../../../img/seeprofile.png);
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link .header--mobile__securityoptions--btn {
    background: url(../../../img/securityoptions.png);
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link .header--mobile__settings--btn {
    background: url(../../../img/settings.png);
    background-position: 50%;
    background-size: 9vw;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link .header--mobile__notifications--btn {
    background: url(../../../img/notifications.png);
    background-position: 50%;
    background-size: 8.5vw;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link .header--mobile__logout--btn {
    background: url(../../../img/logout.png);
    background-position: 50%;
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__decorationline {
    margin: 2vw 0;
    width: 46vw;
    height: 0;
    border: 0.1vw solid #a0a0a0;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link .header--mobile__theme--btn {
    background: url(../../../img/theme.png);
    background-position: 50%;
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link .header--mobile__language--btn {
    background: url(../../../img/language.png);
    background-position: 50%;
    background-size: contain;
}

.header--mobile .header--mobile__container .header--mobile__link .header--mobile__btn {
    margin-right: 2vw;
    width: 5.5vw;
    height: 5.5vw;
    background-repeat: no-repeat;
}

.header--mobile__infotext {
    color: #000000;
    font-size: 4vw;
    font-family: 'Myriad Pro Semibold', sans-serif;
}

.header--mobile .header--mobile__container .header--mobile__useropts .header--mobile__link .header--mobile__useropt {
    color: #a0a0a0;
    font-size: 3vw;
}

@media (orientation: portrait) {
    body {
        overflow-y: auto;
    }

    .header {
        display: none;
    }

    .header--mobile {
        display: block;
    }

    .section {
        display: none;
    }

    .section .section__container .section__indicatordata {
        display: none;
    }

    .section--mobile {
        display: block;
    }
}

/*Section container*/

.section {
    position: absolute;
    top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.section .section__container {
    position: absolute;
    top: 0;
    width: 94vw;
    height: 75vh;
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 3vw;
}

.Nindicador__container {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 7;
}

.Nindicador {
    background-color: #00000000;
    font-family: 'Myriad Pro Semibold';
    font-size: 2vw;
    text-align: center;
    outline-width: 0;
    border-width: 0;
    border-bottom: 1px solid black;
}

.Descripcion__container {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.Descripcion {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 1.3vw;
}

.AñadaDes {
    font-size: 1.1vw;
    font-family: 'Myriad Pro Regular0', sans-serif;
    border-radius: 0.8vw;
}

.cate__container {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 0.9vw;
}

#Categoria {
    width: 10vw;
    height: 4.5vh;
    border-radius: 0.6vw;
}

.barra {
    display: block;
}

.barra {
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    height: 1.8vh;
    background: #ddd;
    border-radius: 15px;
    outline: none;
    transition: 0.3s;
}

.barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3.15vh;
    height: 3.15vh;
    background: #ff6f2c;
    border-radius: 50%;
    transition: 0.3s;
}

.barra::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ff6f2c;
    border-radius: 50%;
    transition: 0.3s;
}

.barra:hover {
    background: #bbb;
}

.barra:focus {
    outline: none;
}

.Frecuencia__container {
    grid-column-start: 1;
    grid-column-end: 2;
}

.Frecuencia {
    font-size: 1.3vw;
    font-family: 'Myriad Pro Regular', sans-serif;
}

.textinput__container {
    display: flex;
    align-items: center;
}

.frecu {
    font-size: 1vw;
    width: 5vw;
    height: 1.5vw;
    font-family: 'Myriad Pro Light', sans-serif;
    border-radius: 0.6vw;
    border: 0.1vw solid #707070;
}

.compliance__container {
    grid-column-start: 2;
    grid-column-end: 6;
}

.compliance {
    font-size: 1.3vw;
    font-family: 'Myriad Pro Regular', sans-serif;
}

.barra__container {
    display: flex;
    align-items: center;
}

.uno {
    font-size: 1.5vw;
    font-family: 'Myriad Pro Light', sans-serif;
}

.cero {
    font-size: 1vw;
    font-family: 'Myriad Pro Light', sans-serif;
    margin-right: 1vw;
}

.cien {
    font-size: 1vw;
    font-family: 'Myriad Pro Light', sans-serif;
    margin-left: 1vw;
}

.formula__container {
    font-size: 0.9vw;
    font-family: 'Myriad Pro Regular', sans-serif;
}

.olapa {
    font-size: 1.5vw;
    width: 10vw;
    height: 4.2vh;
    border-radius: 0.6vw;
}

.inicio {
    font-size: 1.4vw;
    font-family: 'Myriad Pro Regular0', sans-serif;
    left: 20vw;
}

.final {
    font-size: 1.35vw;
    font-family: 'Myriad Pro Regular0', sans-serif;
    left: 20vw;
}

.fecha1 {
    font-size: 1.3vw;
    width: 30vw;
    border-radius: 0.6vw;
    border: 0.1vw solid #707070;
}

.fecha2 {
    font-size: 1.3vw;
    width: 30vw;
    border-radius: 0.6vw;
    border: 0.1vw solid #707070;
}

.Cnaranja__container {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 7;
}

.Cnaranja__container a {
    text-decoration: none;
}

.Cnaranja {
    display: flex;
    align-items: center;
    border: 2px solid #ff6f2c;
    text-align: center;
    background-color: #ff6f2c;
    border-radius: 20vw;
    width: 33vw;
    height: 3vw;
}

.Add {
    margin: auto;
    color: white;
    font-size: 1.5vw;
    font-family: 'Myriad Pro Regular', sans-serif;
}


#span {
    color: #ff6f2c
}

.Areaa__container {
    font-size: 0.9vw;
    font-family: 'Myriad Pro Regular', sans-serif;

}

#Area {
    width: 10vw;
    height: 4.2vh;
    border-radius: 0.6vw;
}

.blackbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
}

.Fondo {
    padding: 0 1vw;
    height: 90vh;
    width: 45vmax;
    background-color: #ffffff;
    border-radius: 2vmax;
    font-family: "Myriad Pro Regular", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}

.Fondo::-webkit-scrollbar {
    width: 0.5vmax;
    background-color: #00000000;
}

.Fondo::-webkit-scrollbar-thumb {
    background-color: #ff6f2c;
    border-radius: 10vmax;
}

.Fondo::-webkit-scrollbar-button {
    background-color: #00000000;
}







.KarioMedia {
    text-align: left;
    font-size: 3.8vmax;
    margin: 0;
    padding: 2vmax;
}

.Kario {
    color: #ff6f2c;
}

.line {
    margin: 0 2vmax;
    width: 36vmax;
    height: 0.6vh;
    background-color: #e2dede;
}

.uno {
    padding: 2vmax;
    font-size: 1.5vmax;
    font-family: "Myriad Pro Light", sans-serif;
}

.panel {
    margin: 0 2vmax;
    font-size: 1.5vmax;
}

.dos {
    margin: 0 0.5vmax;
    padding: 2vmax;
    font-size: 1.5vmax;
    font-family: "Myriad Pro Light", sans-serif;
}

.Añadir {
    margin: 0 2vmax;
    font-size: 1.5vmax;
}

.tres {
    margin: 0 0.5vmax;
    padding: 2vmax;
    font-size: 1.5vmax;
    font-family: "Myriad Pro Light", sans-serif;
}

.refre {
    margin: 0 2vmax;
    font-size: 1.5vmax;
}

.cuatro {
    margin: 0 0.5vmax;
    padding: 2vmax;
    font-size: 1.5vmax;
    font-family: "Myriad Pro Light", sans-serif;
}

.Eliminar {
    margin: 0 2vmax;
    font-size: 1.5vmax;
}

.cinco {
    margin: 0 0.5vmax;
    padding: 2vmax;
    font-size: 1.5vmax;
    font-family: "Myriad Pro Light", sans-serif;
}

.Reportar {
    margin: 0 2vmax;
    font-size: 1.5vmax;
}

.seis {
    margin: 0 0.5vmax;
    padding: 2vmax;
    font-size: 1.5vmax;
    font-family: "Myriad Pro Light", sans-serif;

}

.cerrar {
    margin: 0 2vmax;
    font-size: 1.5vmax;
}

.siete {
    margin: 0 0.5vmax;
    padding: 2vmax;
    font-size: 1.5vmax;
    font-family: "Myriad Pro Light", sans-serif;
}

.Cnaranja__helpcontainer {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5vmax;
}

.Cnaranja__helpcontainer a {
    text-decoration: none;
}

.Cnaranja__help {
    display: flex;
    align-items: center;
    border: 2px solid #ff6f2c;
    text-align: center;
    background-color: #ff6f2c;
    border-radius: 20vmax;
    width: 15vmax;
    height: 3vmax;
}

.Close {
    margin: auto;
    color: white;
    font-size: 1.5vmax;
    font-family: 'Myriad Pro Regular', sans-serif;
}